<!DOCTYPE html>
<html>

<head>
    <title>Emotion Emoji Detector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mystyles.css') }}">

    <script>
        function copyEmoji(emoji) {
            var elem = document.createElement("textarea");
            document.body.appendChild(elem);
            elem.value = emoji;
            elem.select();
            document.execCommand("copy");
            document.body.removeChild(elem);
            alert("Copied emoji: " + emoji);
        }
    </script>
</head>

<body>
    <div>
        <span class="horizontalImage">
            <img src="{{url}}">
        </span>
        <span class="horizontalEmojis">
            <div class="emoji-list">
                <ul class="emojilist">
                    {%for x in emoji%}
                    <li title="{{x}}" data-value="{{x}}">
                        <button onclick="copyEmoji('{{x}}')">
                            <p id="{{x}}">{{x}}</p>
                            <p></p>
                        </button>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </span>
    </div>
    <table>
        <h1>{{'Emotion Distributions'}}</h1>
        <thead>
            <tr>
                <th>Emotion</th>
                <th>Percentage</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in emotionStats.items() %}
            <tr>
                <th> {{ key }} </th>
                <td> {{ "{:.0f}%".format(value * 100) }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- <p>{{emotionStats}}</p> -->
</body>

</html>